@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* shared styles */
.font-noto{
     font-family: "Noto Serif", serif;
}

.font-inter{
    font-family: "Inter", sans-serif;
}

/* nav styles */
.hero-section{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 30px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul{
    list-style: none;
    display: flex;
}
.nav-container ul li:nth-child(-n+3){
    padding-right: 48px;
}

/* banner style */
.banner-section{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: end;
}
.banner-head{
    font-weight: bold;
    font-size: 4.0625rem;
}
.banner-titel{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
/* plant section */
.plants-section{
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 49px;
}

.plant-header h1{
    font-weight: bold;
    font-size: 3.125rem;
}
.our{
    color: #E95A08;
}

.plant-header p{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.plant-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 49px;
}

.plant-container h5{
    font-size: 1.375rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.plant-container p{
    font-weight: bold;
    font-size: 1.375rem;
    font-family: "Inter", sans-serif;
    margin: 5px 0px 20px;

}

.cart-btn{
    color: #ffffff;
    font-weight: 600;
    width: 100%;
    padding: 19px 0px;
    background-color: #E95A08;
    font-family: "Inter", sans-serif;
    border: none;

}

@media screen and (max-width:576px) {
    .hero-section{
        margin: 0px 16px;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .logo{
        width: 63px;
        height: 38px;
    }
    .banner-head{
        font-size: 1.5rem;
    }
    .banner-section img{
        width: 100%;
    }

    /* nav bar */
    .nav-container ul li:nth-child(-n+3){
        display: none;
    }
    .plant-header{
        text-align: center;
    }
    .plant-container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .plant-container h5{
        font-size: 1rem;
    }
    .plant-container p{
        font-size: 1rem;
    }
    .plant-container img{
        width: 100%;
    }

    .plant-header{
        text-align: center;
    }

    .plant-header h5{
        font-size: 1.5rem;
    }
    .plant-header p{
        font-size: 0.875rem;
    }

    .plant-container div{
        width: 100%;
    }
}